$color-background: #3F6446;
$color-main: #83B078;   // links
$color-gray01: #080D0B; // text 
$color-gray02: #83B078; // navigation
$color-gray03: #3F120D; // NavIcons / pre border
$color-gray04: #689C71; // pre bg / top of hr
$color-gray05: #689C71; // bottom of hr